<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Administration</title>
    <link rel="stylesheet" href="/frontend/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/6.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container-fluid">
        <!-- PREMIERE LIGNE CONTENANT LE LOGO -->
        <nav class="navbar  ">
            <span class="navbar-brand" STYLE="font-weight: bold">
                <img class="mr-6"  src="../frontend/public/image/logo.png" width="60" height="60    " alt="" loading="lazy" >
                FUTSO
            </span>

        </nav>
        <!-- DEUXIEME LIGNE CONTENANT LA BARRE VERTE -->
        <div class="row">
            <div class="col wireframe greenBar">
            </div>
        </div>
        <!--Ligne contenant le menu-->
        <div class="row">
            <div aria-label="breadcrumb"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item  "><a href="#">CONFIGURATOR</a></li>
                <li class="breadcrumb-item  "><a href="#">Administrator</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Administration</li>
            </ol>
        </div>


        <div class="container">
            <div class="card">
                <div class="card-header">
                    <!-- formulaire -->
                    <form action="/save" method="post">

                        <div style="border: solid 1px black;" class="container mb-3">
                            <legend>Identifier</legend>
                            <!-- LIGNE LEEGAL NAME -->
                            <div class="form-group row">

                                <label for="name" class="col-2 col-form-label col-form-label">Legal Name</label>
                                <div class="col-4">
                                    <input type="string" class="form-control form-control" id="legalName">
                                </div>

                                <!-- LIGNE DE DEPARTMENT -->
                                <!-- <label for="department " class="col-2 col-form-label col-form-label">Department</label>
                                <div class="col-4 "></div>
                                <input type="string " class="form-control form-control " id="department " value=""> -->
                            </div>
                        </div>
                </div>

                <!-- LIGNE DE ACTIVE -->
                <div style="border: solid 1px black; " class="container mb-3 ">
                    <legend>Status</legend>
                    <div class="form-group row ">

                        <label for="active " class="col-2 col-form-label col-form-label ">Active </label>
                        <div class="col-4 ">
                            <select type="string " class="form-control form-control " id="active ">
                                                <option value="1 ">YES</option>
                                                <option value="2 ">No</option>
                                              </select>
                        </div>

                        <label for="active " class="col-2 col-form-label col-form-label ">Reasons </label>
                        <div class="col-4 ">
                            <input type="string " class="form-control form-control " id="active ">
                        </div>
                    </div>
                </div>
                <div class="container " style="border: solid 1px black; " class="container ">
                    <legend>Details</legend>
                    <!-- LIGNE DE USERNAME -->
                    <div class="form-group row ">
                        <div class="col-1 "></div>
                        <label for="username " class="col-3 col-form-label col-form-label ">Username </label>
                        <div class="col-6 ">
                            <input type="string " class="form-control form-control " id="username ">
                        </div>
                    </div>

                    <!-- LIGNE DE TYPE USERNAME -->
                    <div class="form-group row ">
                        <div class="col-1 "></div>
                        <label for="typUsername " class="col-3 col-form-label col-form-label ">Username type</label>
                        <div class="col-6 ">
                            <select type="string " class="form-control form-control " id="typUsername ">
                                            <option value="1 ">ADMIN</option>
                                            <option value="2 ">IT</option>
                                            <option value="3 ">FO</option>
                                            <option value="4 ">BO</option>
                                            <option value="5 ">AC</option>
                                          </select>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-1 "></div>
                        <label for="password " class="col-3 col-form-label col-form-label ">Password </label>
                        <div class="col-6 ">
                            <input type="password " class="form-control form-control " id="password ">
                        </div>
                    </div>

                </div>
                <div class="button mt-3 ">
                    <button href="/fsUserAdministrator " type="button " class="btn btn- ">
                                                 CANCEL
                                              </button>
                    <button type="button " class="btn btn-success ">SAVE</button>
                </div>
            </div>
            </form>



        </div>
    </div>
    </div>


    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

</html>